<% provide(:title, "Campaign") %>
<div class = "title">
    <h2><%= @storyline.header%></h2>
</div>
<div class = "story-image">
    <img src= "<%=@storyline.img_url%>">
</div>
<div class = "story">
    <p><%= @storyline.story_body%></p>
</div>

<div class = "options">
    <% case @storyline.id%>
    <% when 3, 5, 8, 9, 12, 13, 14, 15%> 
        <<a href="/users/<%=@user.id%>/" class="button">Back to Main Menu</a>
    <%else%>
        <a href="/users/<%=@user.id%>/campaigns/1/storylines/<%=@storyline.option_1_id%>/" class="button"><%=@storyline.option_1_text%></a>
        <a href="/users/<%=@user.id%>/campaigns/1/storylines/<%= @storyline.option_2_id%>/" class="button"><%=@storyline.option_2_text%></a>
    <%end%>
</div>