<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Horror</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/assets/welcome.scss">
  </head>

  <body>
                <% if notice %>
                <div><h4><%= notice %></h4></div>
	            <% end %>
	            <% if alert %>
                <div><p><%= alert %></p></div>
	            <% end %>
          <div class="grid-page">
            <div class="content">

             <div class = "image">
                <img src="https://i.imgur.com/rdFz3Ah.png">
             </div>
             <div class = home-buttons>
                 <div class = "create-user">
                     <%= link_to "Create User", new_user_path(), class: "button"%>
                 </div>
                 <div class = "login">
                     <%= link_to "Login", login_path(), class: "button"%>
                 </div>
                 <div class = "login-guest">
                     <%= form_tag login_path do%>
                     <input type="hidden" name="login[username]" value="guest"/>
                     <input type="hidden" name="login[password]" value="1"/>
                     <input type="submit"  value="Login as Guest" class="button">
                     <%end%>
                 </div>
             </div>
            </div>
            <div class="footer">
                <div class="about"><%= link_to "About", '/about', class: "nav-button"%></div>
                <div class="how-to-play"><%= link_to "How to Play", '/how-to-play', class: "nav-button"%></div>
            </div>
        </div>
  </body>
</html>
