<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Horror</title>
    <link rel="stylesheet" href="/assets/welcome.scss">
  </head>

  <body>
                <% if notice %>
                <div><h4><%= notice %></h4></div>
	            <% end %>
	            <% if alert %>
                <div><p><%= alert %></p></div>
	            <% end %>
          <div class="grid-page">
            <div class="content">

                <%= yield %>

            </div>

            <div class="footer">
                <div class="about"><%= link_to "About", '/about', class: "nav-button"%></div>
                <div class="how-to-play"><%= link_to "How to Play", '/how-to-play', class: "nav-button"%></div>
            </div>
        </div>
  </body>
</html>